[*.cs]

# CA1010: Generic interface should also be implemented
dotnet_diagnostic.CA1010.severity = none
[*.cs]

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA1873.severity = silent
