name: NiceShell Nuget
on:
  push:
    paths:
      - 'csharp/lib/**'
      - '.github/workflows/nuget.yaml'
  workflow_dispatch:

jobs:
  publish:
    name: Pack & Publish nuget
    runs-on: ubuntu-latest
    steps:
      - uses: astorDev/versy/calver/nuget@main
        with:
          project: csharp/lib/NiceShell
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}